{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a href="#" class="btn custom-btn">HOME</a>
            <div class="mx-auto">
                <img src="{% static 'images/1.gif' %}" alt="gif/picture" height="40">
            </div>
            <a href="{% url 'view_inventory' %}" class="btn custom-btn">SYSTEM</a>
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
